Repository FaberSober/vue-turbo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,vue,css,scss}": "eslint --fix",
  "*.{ts,tsx,vue,css,scss,md}": "prettier --write"
}

lint-staged
  apps/admin/.eslintrc.js
  package.json
  packages/ui/.eslintrc.js
Due: none

lint-staged
  apps/admin/src/app.vue
Due: eslint --fix, prettier --write

lint-stage
  README.md
  apps/admin/src/app.vue
  apps/admin/src/main.ts
  apps/admin/vite.config.ts
  packages/ui/index.ts
Due: eslint --fix, prettier --write

lint-stage
  apps/admin/src/app.vue
Due: eslint --fix, prettier --write

lint-staged
  apps/admin/src/app.vue
  package.json
Due: eslint --fix, prettier --write

lint-staged
  .husky/pre-commit
  apps/admin/src/app.vue
  package.json
Due: eslint --fix, prettier --write

unplugin-vue-router
  .eslintrcignore
  .prettierignore
  README.md
  apps/admin/package.json
  apps/admin/src/main.ts
  apps/admin/tsconfig.app.json
  apps/admin/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

unplugin-vue-router
  .lintstagedrc.json
  apps/admin/.eslintrcignore
  apps/admin/package.json
  apps/admin/typed-router.d.ts
Due: eslint --fix, prettier --write

add @fa/core
  apps/admin/package.json
  apps/admin/src/app.vue
  packages/core/.eslintrc.js
  packages/core/index.ts
  packages/core/package.json
  packages/core/src/utils/utils.ts
  packages/core/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

vue-router
  README.md
  apps/admin/env.d.ts
  apps/admin/src/app.vue
  apps/admin/src/features/admin/pages/about.vue
  apps/admin/src/features/admin/pages/index.vue
  apps/admin/src/pages/index.vue
  apps/admin/tsconfig.app.json
  apps/admin/typed-router.d.ts
  apps/admin/vite.config.ts
Due: eslint --fix, prettier --write

router
  apps/admin/features/fa-admin/pages/admin.vue
  apps/admin/features/fa-admin/pages/admin/about.vue
  apps/admin/features/fa-admin/pages/admin/index.vue
  apps/admin/src/app.vue
  apps/admin/typed-router.d.ts
  apps/admin/vite.config.ts
  packages/eslint-config-custom/vue.js
Due: eslint --fix, prettier --write

app/example
  apps/example/.eslintrc.js
  apps/example/.eslintrcignore
  apps/example/.gitignore
  apps/example/README.md
  apps/example/env.d.ts
  apps/example/features/fa-admin/pages/admin.vue
  apps/example/features/fa-admin/pages/admin/about.vue
  apps/example/features/fa-admin/pages/admin/index.vue
  apps/example/index.html
  apps/example/package.json
  apps/example/public/favicon.ico
  apps/example/src/app.vue
  apps/example/src/main.ts
  apps/example/src/pages/index.vue
  apps/example/tsconfig.app.json
  apps/example/tsconfig.json
  apps/example/tsconfig.node.json
  apps/example/typed-router.d.ts
  apps/example/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

app/example
  apps/example/package.json
Due: none

router
  README.md
  apps/admin/.eslintrc.js
  apps/admin/features/fa-admin/pages/admin/index.vue
  apps/admin/package.json
  apps/admin/src/main.ts
  apps/example/.eslintrc.js
  apps/example/package.json
  packages/eslint-config-custom/vue.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

a
  apps/admin/typed-router.d.ts
  apps/admin/vite.config.ts
Due: eslint --fix, prettier --write

naive-ui
  README.md
  apps/admin/package.json
  apps/admin/stats.html
  apps/admin/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

naive-ui
  apps/admin/src/main.ts
  apps/example/typed-router.d.ts
  apps/example/vite.config.ts
Due: eslint --fix, prettier --write

router
  README.md
Due: prettier --write

router
  .husky/pre-commit
  README.md
Due: prettier --write

router
  apps/admin/src/app.vue
Due: eslint --fix, prettier --write

a
  apps/admin/features/fa-demo/pages/admin/demo/index.vue
  apps/admin/src/app.vue
  apps/admin/src/pages/index.vue
  apps/admin/typed-router.d.ts
Due: eslint --fix, prettier --write

pinia
  README.md
  apps/admin/package.json
  apps/admin/src/features/fa-admin/pages/admin.vue
  apps/admin/src/features/fa-admin/pages/admin/about.vue
  apps/admin/src/features/fa-admin/pages/admin/counter.vue
  apps/admin/src/features/fa-admin/pages/admin/index.vue
  apps/admin/src/features/fa-admin/stores/counter.ts
  apps/admin/src/features/fa-demo/pages/admin/demo/index.vue
  apps/admin/src/main.ts
  apps/admin/src/pages/index.vue
  apps/admin/tsconfig.app.json
  apps/admin/typed-router.d.ts
  apps/admin/vite.config.ts
  packages/eslint-config-custom/vue.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

pinia
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
Due: none

pinia
  pnpm-lock.yaml
Due: none

a
  README.md
  packages/eslint-config-custom/vue.js
Due: prettier --write

vite-plugin-vue-devtools
  README.md
  apps/admin/package.json
  apps/admin/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

整理eslint规则，减少限制条件，暂不使用@vercel/style-guide
  .vscode/extensions.json
  README.md
  apps/admin/.eslintrc.js
  apps/admin/tsconfig.app.json
  packages/eslint-config-custom/package.json
  packages/eslint-config-custom/vue.js
  pnpm-lock.yaml
Due: prettier --write

scss
  .lintstagedrc.json
  README.md
  apps/admin/.stylelintrc.json
  apps/admin/package.json
  apps/admin/src/features/fa-admin/pages/admin/index.vue
  apps/admin/src/features/fa-demo/pages/admin/demo/demo.css
  apps/admin/src/features/fa-demo/pages/admin/demo/demo.module.scss
  apps/admin/src/features/fa-demo/pages/admin/demo/index.vue
  apps/admin/src/styles/demo.scss
  apps/admin/stats.html
  apps/admin/vite.config.ts
  doc/css.md
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

scss
  README.md
  apps/admin/.stylelintrc.js
  apps/admin/package.json
  packages/eslint-config-custom/package.json
  packages/eslint-config-custom/style.js
  pnpm-lock.yaml
Due: prettier --write

remove example temp
  apps/example/.eslintrc.js
  apps/example/.eslintrcignore
  apps/example/.gitignore
  apps/example/README.md
  apps/example/env.d.ts
  apps/example/features/fa-admin/pages/admin.vue
  apps/example/features/fa-admin/pages/admin/about.vue
  apps/example/features/fa-admin/pages/admin/index.vue
  apps/example/index.html
  apps/example/package.json
  apps/example/public/favicon.ico
  apps/example/src/app.vue
  apps/example/src/main.ts
  apps/example/src/pages/index.vue
  apps/example/tsconfig.app.json
  apps/example/tsconfig.json
  apps/example/tsconfig.node.json
  apps/example/typed-router.d.ts
  apps/example/vite.config.ts
Due: eslint --fix, prettier --write

add @vitejs/plugin-vue-jsx
  README.md
  apps/admin/package.json
  apps/admin/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

a
  apps/admin/src/features/fa-admin/stores/counter.ts
Due: eslint --fix, prettier --write

a
  .vscode/extensions.json
Due: none

naive-ui国际化
  apps/admin/src/app.vue
  apps/admin/src/features/fa-demo/pages/admin/demo/index.vue
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

a
  .gitignore
Due: none

@vueuse/core
  README.md
  apps/admin/index.html
  apps/admin/package.json
  apps/admin/src/features/fa-admin/pages/admin/index.vue
  apps/admin/src/features/fa-admin/stores/theme.ts
  apps/admin/src/features/fa-admin/stores/useThemeStore.ts
  apps/admin/stats.html
  apps/admin/tsconfig.app.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

@vueuse/core
  apps/admin/src/features/fa-admin/pages/admin/index.vue
  apps/admin/src/features/fa-admin/stores/theme.ts
  apps/admin/src/features/fa-admin/stores/useThemeStore.ts
Due: eslint --fix, prettier --write

update readme
  README.md
Due: prettier --write

update turbo
  package.json
  pnpm-lock.yaml
Due: none
